#datalist {
	width:350px;
	height:400px;
	overflow:auto;
	padding:5px;
	font-size:110%;
}
#datalist A:hover {
	text-decoration:underline;
}

#filecontent {
	width:420px;
	height:400px;
	overflow:auto;	
	padding:5px;
	font-size:120%;
}
#filecontent A:hover {
	text-decoration:underline;
}
#filecontent TABLE {
	margin-left:10px;
}
#filecontent TD {
	padding-right:20px;
}

#img_scroll {
	border:1px solid #0a2972;
	width:250px;
	height:250px;
	overflow:auto;
}
