_*/
.DS_Store
app-example/application/bootstrap.php
modules/emocha/config/auth.php
modules/emocha/config/googlemaps.php
modules/emocha/config/email.php
modules/emocha/config/emocha.php
modules/emocha/config/sms.php
app-example/sdcard/**/*
fsfbh/
fsfbc/
dev/
emocha_logo.png
index.html

